@charset 'utf-8';
/* ヘッダーのスタイルを定義 */

#header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  @include mq(pc) {
    height: 49px;
  }
  .l-header__logo {
    display: flex;
    align-items: center;
    & > p {
      font-size: .8rem;
      font-weight: bold;
      @include mq(tv) {
        display: none;
      }
    }
  }
}
