@charset 'utf-8';

.p-mainVisual {
  position: relative;
  z-index: -1;
  height: 650px;
  background-image: url('/img/bg-hero1.png'), url('/img/bg-hero2.png'), url('/img/bg-hero3.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, cover;
  background-position: center, center, top;
  background-attachment: scroll, scroll, fixed;
  &-black {
    background-color: black;
    height: calc(100vh - 70px - 650px);
    position: relative;
    display: flex;
    justify-content: center;
    @include mq(sp) {
      height: 150vh;
      z-index: -2;
    }
  }
  @include mq(sp) {
    height: 167px;
    background-size: 110%, 110%, cover;
    background-position: center -30px, center -30px, center -30px;
  }
}