@charset 'utf-8';

.p-nav {
  background-color: $color-E;
  display: flex;
  & > li {
    position: relative;
    &:hover {
      background-color: $color-B;
    &:hover .p-nav__item {
      display: block;
    }
    }
    
  }
  &__item {
    position: absolute;
    background-color: $color-B;
    padding: 0px;
    display: none;
    a {
      color: $color-D;
    }
    & li:hover {
      background-color: $color-C;
      a {
        color: $color-A;
      }
    }
    li {
      height: 0;
      overflow: hidden;
      transition: .5s;
      width: 275px;
    } 
  }
  & > li:nth-of-type(4) .p-nav__item li {
    width: 215px;
  }
  & > li:nth-of-type(5) .p-nav__item li {
    width: 215px;
  }
  & > li:nth-of-type(6) .p-nav__item li {
    width: 215px;
  }
}