@charset "UTF-8";
/* ブラウザのデフォルトのスタイルをリセットするcssを定義*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
サイトを構成する上で、デザインの基本の下地、土台となるスタイルを定義
※基本的にタグ自体にスタイルを定義すること。
※クラスなしの状態でも最低限の表示になることを心がける
*/
body {
  font-family: "Noto Sans JP",MyYuGothicM,YuGothic,-apple-system,BlinkMacSystemFont,"Hiragino kaku Gothic ProN",Meiryo,Verdana,arial,helvetica,sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: #121212;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
}

/* メディアクエリなど */
/* サイトのメインエリア内のコンテンツ幅などの指定 */
/* 
メインのコンテンツエリアの共通スタイルを定義
※ヘッダーのfixed分の相殺や余白など
※ここでは共通の上下左右の余白などのみの定義
*/
/* フッターエリアのスタイルを定義 */
/* ヘッダーのスタイルを定義 */
.l-header {
  height: 70.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .l-header {
    height: 49px;
  }
}

.l-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-left: 19px;
}

@media screen and (max-width: 1200px) {
  .l-header h1 {
    margin: 10px;
  }
}

.l-header h1 > a {
  display: block;
}

/* ヘッダーのスタイルを定義 */
/* 
再利用できるパターンとして、小さな単位のモジュールを定義。
※marginなど余白は定義しない。あくまでパーツとして扱う
*/
.c-btn {
  background-color: #2498b3;
  cursor: pointer;
  color: #fff;
  display: block;
  height: 71px;
  line-height: 71px;
}

.c-btn-logo {
  display: block;
  width: 157px;
}

@media screen and (max-width: 1200px) {
  .c-btn-logo {
    width: 144px;
  }
}

.c-btn-logo-sub {
  font-size: .8rem;
  font-weight: 900;
}

@media screen and (max-width: 1280px) {
  .c-btn-logo-sub {
    display: none;
  }
}

.c-btn-logo-sub span {
  font-size: 1.4em;
}

.c-btn-logo-mv-inr {
  display: block;
  width: 281px;
}

@media screen and (max-width: 767px) {
  .c-btn-logo-mv-inr {
    display: none;
  }
}

.c-btn-mv-inr {
  height: 60px;
}

.c-btn-manga {
  width: 291px;
  border: none;
  height: 66px;
  border-radius: 5px;
  font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
  .c-btn-manga {
    width: 230px;
    height: 44px;
    line-height: 44px;
    font-size: .95rem;
  }
}

/* 
再利用できるパターンとして、小さな単位のモジュールを定義。
※marginなど余白は定義しない。あくまでパーツとして扱う
*/
.c-deco-plus {
  position: relative;
}

.c-deco-plus::before, .c-deco-plus::after {
  content: "";
  float: right;
}

.c-deco-plus::before {
  width: 23px;
  height: 2px;
  background-color: #121212;
  position: absolute;
  right: 10px;
  top: calc(40px / 2);
}

.c-deco-plus::after {
  width: 2px;
  height: 23px;
  background-color: #121212;
  position: absolute;
  right: calc(40px / 2);
  top: 10px;
}

.c-deco-plus:hover::after {
  opacity: 0;
}

/* 再利用できるパターンとして、小さな単位のモジュールを定義。
※marginなど余白は定義しない。あくまでパーツとして扱う */
/* 再利用できるパターンとして、小さな単位のモジュールを定義。
※marginなど余白は定義しない。あくまでパーツとして扱う */
.p-box-mv-inr {
  width: 415px;
  height: 328px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .96rem;
  font-weight: 900;
  line-height: 1.7rem;
  position: absolute;
  top: 80px;
  left: calc(50% - (415px / 2));
  padding: 40px 40px 27px;
}

@media screen and (max-width: 767px) {
  .p-box-mv-inr {
    position: absolute;
    top: 167px;
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 154px;
  }
}

.p-box-mv-inr p {
  margin: 20px 0 34px 0;
}

@media screen and (max-width: 767px) {
  .p-box-mv-inr p {
    margin-top: -46px;
    margin-bottom: 0%;
    font-size: .8rem;
    line-height: 1.3rem;
    padding: 22px 0 14px;
  }
}

.p-box-mv-point {
  max-width: 972px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: -200px;
}

@media screen and (max-width: 767px) {
  .p-box-mv-point {
    top: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.p-box-mv-point__item {
  margin: 0 auto;
  text-align: center;
  width: 227px;
}

@media screen and (max-width: 767px) {
  .p-box-mv-point__item {
    width: 90%;
  }
}

.p-box-mv-point__item h3 {
  font-size: 1.7rem;
  margin: 16px 0 19px;
}

.p-box-mv-point__item p, .p-box-mv-point__item h3 {
  color: #fff;
}

.p-box-mv-point__item p {
  text-align: left;
  width: 100%;
  font-size: .9rem;
  line-height: 1.6rem;
}

@media screen and (max-width: 767px) {
  .p-box-mv-point__item p {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.p-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  .p-nav {
    display: none;
    /* ハンバーガーメニュー押す前の非表示 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    /* 右揃えにする為 */
    top: 49px;
    left: 0;
    width: 100%;
  }
}

.p-nav > li {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .p-nav > li {
    background-color: #fff;
  }
}

.p-nav > li .p-nav-main {
  cursor: pointer;
  padding: 0 1rem;
  height: 71px;
  line-height: 71px;
}

@media screen and (max-width: 1200px) {
  .p-nav > li .p-nav-main {
    height: 47px;
    line-height: 47px;
  }
}

.p-nav > li .p-nav-main:hover {
  background-color: #d4f1f8;
}

@media screen and (max-width: 1200px) {
  .p-nav > li .p-nav-main:hover {
    background-color: #f3fafb;
  }
}

@media screen and (max-width: 1200px) {
  .p-nav > li:last-of-type {
    display: none;
  }
}

.p-nav > li:last-of-type a {
  padding: 0 1rem;
}

.p-nav__sub {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .p-nav__sub {
    position: static;
  }
}

.p-nav__sub li {
  background-color: #e9f8fb;
  width: 250px;
  height: 45px;
  line-height: 45px;
}

@media screen and (max-width: 1200px) {
  .p-nav__sub li {
    width: 100vw;
    height: 59px;
    background-color: #fff;
  }
}

.p-nav__sub li a {
  padding: 0 1rem;
  color: #121212b7;
}

@media screen and (max-width: 1200px) {
  .p-nav__sub li a {
    padding-left: 32px;
    line-height: 49px;
  }
}

.p-nav__sub li a:hover {
  color: #2498b3;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .p-nav__sub li a:hover {
    background-color: #f3fafb;
    color: #121212;
  }
}

.p-nav > li:nth-of-type(4) li, .p-nav > li:nth-of-type(5) li, .p-nav > li:nth-of-type(6) li {
  width: 150px;
}

@media screen and (max-width: 1200px) {
  .p-nav > li:nth-of-type(4) li, .p-nav > li:nth-of-type(5) li, .p-nav > li:nth-of-type(6) li {
    width: 100vw;
  }
}

.p-nav.is-open {
  /* ハンバーガーメニュー押した際の表示 */
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .p-nav.is-open {
    display: block;
  }
}

.p-mainVisual {
  position: relative;
  height: 650px;
  background-image: url("/img/bg-hero1.png"), url("/img/bg-hero2.png"), url("/img/bg-hero3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, cover;
  background-position: center, center, top;
  background-attachment: scroll, scroll, fixed;
}

.p-mainVisual-black {
  background-color: black;
  height: calc(100vh - 70px - 650px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .p-mainVisual-black {
    height: 150vh;
    z-index: -2;
  }
}

@media screen and (max-width: 767px) {
  .p-mainVisual {
    height: 167px;
    background-size: 110%, 110%, cover;
    background-position: center -30px, center -30px, center -30px;
  }
}

.p-hamburger {
  display: none;
  width: 49px;
  height: 49px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .p-hamburger {
    display: block;
  }
}

.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 23px;
  height: 1px;
  background: #2498b3;
  position: absolute;
  left: calc(50% - (23px / 2));
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger::before {
  top: calc(49px / 4);
}

.p-hamburger::after {
  bottom: calc(49px / 4);
}

.p-hamburger > span {
  width: 23px;
  height: 1px;
  font-size: 0;
  background-color: #2498b3;
  background-size: auto 1px;
  position: absolute;
  left: calc(50% - (23px / 2));
  top: calc(50% - (1px / 2));
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.p-hamburger.is-open {
  background-color: #2498b3;
}

.p-hamburger.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(49px / 2);
  background-color: #fff;
}

.p-hamburger.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(49px / 2);
  background-color: #fff;
}

.p-hamburger.is-open > span {
  background: none;
}

body.is-open {
  position: fixed;
}

.u-margin-l1rem {
  margin-left: 1rem;
}

.u-margin-t4 {
  margin-top: 4px;
}

.u-utility-circle {
  width: 227px;
  height: 227px;
  border-radius: 50%;
  border: 7px solid #121212;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.u-utility-circle .fas {
  line-height: 227px;
  height: 227px;
}
/*# sourceMappingURL=style.css.map */