@charset 'utf-8';
/* 
再利用できるパターンとして、小さな単位のモジュールを定義。
※marginなど余白は定義しない。あくまでパーツとして扱う
*/
.c-btn {
  background-color: $color-link;
  color: $color-bg;
  display: block;
  height: 71px;
  line-height: 71px;
  &-logo {
  display: block;
  width: 157px;
  @include mq(pc) {
    width: 144px;
  }
    &-sub {
    font-size: .8rem;
    font-weight: 900;
    @include mq(tv) {
      display: none;
    }
      span {
      font-size: 1.4em;
      }
    }
    &-mv-inr {
      display: block;
      width: 281px;
      @include mq(sp) {
        display: none;
      }
    }
  }
  &-mv-inr {
    height: 60px;
  }
  &-manga {
    cursor: pointer;
    width: 291px;
    border: none;
    height: 66px;
    border-radius: 5px;
    font-size: 1.1rem;
    @include mq(sp) {
      width: 230px;
      height: 44px;
      line-height: 44px;
      font-size: .95rem;
    }
  }
}
