@charset 'utf-8';

.u-utility-circle {
  width: 227px;
  height: 227px;
  border-radius: 50%;
  border: 7px solid $color-font;
  background-color: $color-bg;
  text-align: center;
  margin: 0 auto;
  .fas {
    line-height: 227px;
    height: 227px;
  }
}